<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lagingoding.quizgame">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplikasiUAS">
        <activity
            android:name=".ui.blackwhite.BwActivity"
            android:exported="false" />

        <activity
            android:name=".ui.pyramid.PyramidActivity"
            android:exported="false" />

        <activity
            android:name=".ui.volume.VolumeActivity"
            android:exported="false" />

        <activity
            android:name=".ui.studentid.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.studentid.ListStudentsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.studentid.StudentActivity"
            android:exported="true" />

        <activity
            android:name=".ui.sbar.BarcodeScannerActivity"
            android:exported="true" />

        <activity
            android:name=".ui.home.MainActivity"
            android:exported="true" />

        <activity
            android:name=".ui.snfc.NfcKtpActivity"
            android:exported="true" />

        <activity
            android:name="lagingoding.quizgame.SplashActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>